<p-dialog header="Product Detail" [(visible)]="display" modal="modal" width="350" [responsive]="true">
    <form>
      <div class="form-group" style="padding-bottom:20px;padding-top:20px">
        <div class="ui-inputgroup">
            <span class="ui-float-label">
                <input id="product-code" type="number"  pInputText [(ngModel)]="product.product_code" name="code"> 
                <label for="product-code">Product Code</label>
            </span>
            <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
        </div>
      </div>
      <div class="form-group" style="padding-bottom:20px;padding-top:20px">
          <div class="ui-inputgroup">
              <span class="ui-float-label">
                  <input id="product-name" type="text" size="30" pInputText [(ngModel)]="product.product_name" name="name"> 
                  <label for="product-name">Product Name</label>
              </span>
              <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
          </div>
        </div>
        <div class="form-group" style="padding-bottom:20px;padding-top:20px">
            <div class="ui-inputgroup">
                <span class="ui-float-label">
                    <input id="product-price" type="number"  pInputText [(ngModel)]="product.product_price" name="price"> 
                    <label for="product-price">Product Price</label>
                </span>
                <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
            </div>
          </div>
          <div class="form-group" style="padding-bottom:20px;padding-top:20px">
              <div class="ui-inputgroup">
                  <span class="ui-float-label">
                      <input id="product-gst" type="number"  pInputText [(ngModel)]="product.product_gst" name="gst"> 
                      <label for="product-gst">Product GST</label>
                  </span>
                  <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
              </div>
            </div>
    </form>
        <p-footer>
            <button type="button" pButton icon="fa-check" (click)="editProduct()" label="Save" class="ui-button-success"></button>
            <button type="button" pButton icon="fa-close" (click)="display=false" label="Cancel" class="ui-button-danger"></button>
        </p-footer>
</p-dialog>

